*
{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    background-color: rgb(179, 20, 20);
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.log{

    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}

.bar{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 150px 0;
    color: #f8f6f6;
    margin-top: 80px; 
}
h1
{
    margin-right:2px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    flex: 1; 
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #496a8d; 
    color: #171515;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

